.project-item {
    position: relative;
  }
  
  .project-img {
    position: relative;
    width: 100%;
  }
  
  .github-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: rgb(13, 237, 237); */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Smooth transition for opacity */
    display: flex;
    gap: 10px; /* Space between the icons */
    justify-content: center; /* Horizontally center the items */
    align-items: center; /* Vertically center the items */
    cursor: pointer;
    background-color: transparent; /*Ensure no background color */
    pointer-events: none; /* Allow clicks to pass through to the image */
  }
  
  .github-button a {
    color: var(--orange-yellow-crayola); /* Set the color of the icons */
    text-decoration: none; /* Remove underline from links */
    pointer-events: auto; /* Enable clicking on the links */
  }
  
  .github-button a:hover {
    /* background-color: transparent; */
    text-decoration: none; 
  }
  
  /* Style for the GitHub Icon */
  .github-button a i {
    color: rgb(244, 248, 7);
    font-size: 2rem;
    z-index: 1; /* Ensure the icon appears above the image */
  }
  
  /* Show the GitHub Button on hover */
  .project-img:hover .github-button {
    --scale: 1;
    opacity: 1;
  }
  
  /* Style for the image */ 
  .project-img img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    transition: transform 0.3s ease; /* Smooth transition for the zoom effect */
  }
  
  .project-item:hover img {
    transform: scale(1.1); /* Optional: Zoom in effect on hover */
  }